1 ICON "..\\exeico.ico"

1 VERSIONINFO
FILEVERSION 1,3,0,0
PRODUCTVERSION 1,3,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104B0"
        BEGIN
            VALUE "CompanyName", "nekom0chi\0"
            VALUE "FileDescription", "INZONE Buds Battery\0"
            VALUE "FileVersion", "1.3.0.0\0"
            VALUE "InternalName", "INZONE Buds Battery\0"
            VALUE "OriginalFilename", "INZONE Buds Battery.exe\0"
            VALUE "ProductName", "INZONE Buds Battery\0"
            VALUE "ProductVersion", "1.3.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 1200
    END
END
